*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

header {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  width: 70%;

    & a{
      position: relative;
      color: black;
      text-decoration: none;
      font-size: 2.5vh;
      margin-right: 20px;
      transition: 0.5s;
    }

    & a::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: black;
      transition: width 0.3s ease;
    }

    & a:hover::after{
      width: 100%;
    }
}

.destaque {
  height: 50vh;
  width: 70%;
  background-color: aqua;
}

.em-cartaz {
  height: 42.5vh;
  width: 70%;
  background-color: aqua;
}

.em-breve {
  height: 42.5vh;
  width: 70%;
  background-color: aqua;
}